@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  padding: 0;
  background-color: #262626;
  background: url(https://s3.ca-central-1.amazonaws.com/image-web-frankie/dark-wood.jpeg);
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

.neon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: #fff;
  text-shadow: 0 0 20px #dd2476;
}

.neon::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #dd2476;
  filter: blur(15px);
}

.neon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #dd2476;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}

/* home */
h1 {
  font-style: italic;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: #dd2476;
}
p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: small;
}
h3 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
body {
  background-image: url("1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

* {
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}
.container2 {
  margin-top: 30%;
  margin-left: 40%;
  font-size: auto;
}
.bg {
  font-size: 90%;
}

.fli {
  margin-left: 35%;
}
/* testimonials */
body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 60%;
  background-color: #dd2476;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 60%;
  background-color: #dd2476;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 60%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dd2476;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #dd2476;
  background-color: #f7f5ec;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* projects */
:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
/* skills section */
#icon-container {
  border: 4px solid white;
  width: 15%;
  padding: 50px 0;
  margin-left: 8%;
  border-radius: 50%;
  transition: 0.4s ease-in;
}

#icon-container:hover {
  color: black;
  background: white;
  box-shadow: 0px 5px 15px #dd2476;
}

.forms {
  margin-left: 300px !important;
}
