/* home */
h1 {
  font-style: italic;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
body {
  background-image: url("1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

* {
  box-sizing: border-box;
}

/.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}
.container2 {
  margin-top: 30%;
  margin-left: -40%;
  font-size: 400%;
}
.bg {
  font-size: 90%;
}

.fli {
  margin-left: 35%;
}
